<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>521580658288-9i0lioa6vg00qqk3p46v4jffcjpui3e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521580658288-9i0lioa6vg00qqk3p46v4jffcjpui3e9</string>
	<key>API_KEY</key>
	<string>AIzaSyBvFLKReAUF9iazif2DB0rhg_3VIZITZ_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>521580658288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Samples.asd.HomeAutomation</string>
	<key>PROJECT_ID</key>
	<string>homeautomation-57822</string>
	<key>STORAGE_BUCKET</key>
	<string>homeautomation-57822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:521580658288:ios:1b4fa6f72359f507</string>
	<key>DATABASE_URL</key>
	<string>https://homeautomation-57822.firebaseio.com</string>
</dict>
</plist>